{% extends 'base.html' %}

{% block content %}

<div class="starter-template">
  <h1>Find & Share BAT Publishers</h1>
  <p class="lead">A community website that helps people find BAT verified publishers. Contribute to his project by visiting our <a href="https://github.com/NeilsWeb/BatPubs">github</a>. To learn more about BAT visit <a href="https://basicattentiontoken.org/">basicattentiontoken.org</a>. This project is not affiliated with the official BAT team.</p>

     <!-- Nav tabs -->
     <ul class="nav nav-pills" role="tablist">
       <li class="nav-item">
         <a class="nav-link active" data-toggle="tab" href="#home" role="tab">Websites</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" data-toggle="tab" href="#profile" role="tab">YouTube</a>
       </li>
     </ul>

     <!-- Tab panes -->
     <div class="tab-content">
       <div class="tab-pane active" id="home" role="tabpanel">
         <br>
         {% for obj in object_list %}
         {% if obj.category.title == 'Website' %}
         <div class="card">
           <h4 class="card-header">{{ obj.name }}</h4>
           <div class="card-body">
             <p class="card-text">{{ obj.description }} <a href="{{ obj.slug }}"> (learn more)</a></p>
             <a href="{{ obj.website_address }}"><button type="button" class="btn btn-outline-primary">View Site</button></a>
           </div>
           <div class="card-footer">
           <small class="text-muted">Alexa Traffic Rank: {{ obj.traffic }}</small>
         </div>
         </div>
         <br>
         {% endif%}
         {% endfor %}
         <p><a href="/publishers">View all</a></p>
       </div>

       <div class="tab-pane" id="profile" role="tabpanel">
         <br>
         {% for obj in object_list %}
         {% if obj.category.slug == 'youtube' %}
         <div class="card">
           <h4 class="card-header">{{ obj.name }}</h4>
           <div class="card-body">
             <p class="card-text">{{ obj.description }} <a href="{{ obj.slug }}"> (learn more)</a></p>
             <a href="{{ obj.website_address }}"><button type="button" class="btn btn-outline-primary">View Site</button></a>
           </div>
           <div class="card-footer">
           <small class="text-muted">YouTube Subscribers: Comming Soon</small>
         </div>
         </div>
         <br>
         {% endif%}
         {% endfor %}
         <p><a href="/publishers">View all</a></p>
       </div>
        </div>


<hr>
{% endblock %}

</div>
