{% extends 'base.html' %}

{% block content %}
<div class="starter-template">
  <h1>Find & Share BAT Publishers</h1>
  <p class="lead">We index and organize BAT publishers. Help us by adding BAT publishers you have discovered.
     You can also contribute to his project by visiting our github. To learn more about BAT visit <a href="https://basicattentiontoken.org/">basicattentiontoken.org</a>. This project is not affiliated with the official BAT team.</p>

{% for obj in object_list %}
<div class="card">
  <h4 class="card-header">{{ obj.name }}</h4>
  <div class="card-body">
    <p class="card-text">{{ obj.description }} <a href="{{ obj.slug }}"> (learn more)</a></p>
    <a href="{{ obj.website_address }}"><button type="button" class="btn btn-outline-primary">View Site</button></a>
  </div>
</div>
<br>
{% endfor %}

<p><a href="/publishers">View all</a></p>
{% endblock %}

</div>
